.post-body table {
  border-collapse: collapse
  width: 100%;
  margin: 1em 0;
}

.post-body th, 
.post-body td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.post-body th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.post-body tr:nth-child(even) {
  background-color: #fafafa;
}
.post-body table.zadanie {
border-collapse: collapse;
width: 100%;
}
.post-body table.zadanie td, .post-body table.zadanie th {
padding: 5px 5px;
border: 1px solid;
}
.post-body table.zadanie th {
width: 30px;
}
